<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>分类列表</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" >
</head>
<body>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>商品名称</th>
            <th colspan="2">操作</th>
        </tr>
        <% for(var i=0;i<list.length;i++) {%>
        <tr>
            <td><%= list[i].t_id %></td>
            <td><%= list[i].t_name%></td>
            <td><a class="btn btn-primary" href="update?id=<%= list[i].t_id %>">修改</a></td>
            <td><a class="btn btn-primary" href="delete?id=<%= list[i].t_id %>">删除</a></td>
        </tr>
        <% } %>
    </table>
    <div style='text-align:center'>
         <ul class="pagination" id="pagination2"></ul>
    </div>
    <script>window.jQuery || document.write('<script src="../js/jquery.js"><\/script>')</script>
    <script type="text/javascript" src="../js/jqPaginator.js"></script>
    <script>
        var totalPageNum =  '<%= pagesNum %>'; // 总页数
        var currentNo = '<%=currenNo%>'; // 在js代码中获取渲染数据
        $.jqPaginator('#pagination2', {
	        totalPages: parseInt(totalPageNum),
	        visiblePages: 2,
	        currentPage: parseInt(currentNo),
	        first: '<li class="first"><a href="javascript:void(0);">首页</a></li>',
	        prev: '<li class="prev"><a href="javascript:;">上一页</a></li>',
	        next: '<li class="next"><a href="javascript:void(0);">下一页</a></li>',
          last: '<li class="last"><a href="javascript:void(0);">末页</a></li>',
          page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
          onPageChange: function (num, type) {//回调函数，当换页时触发
            if(type === 'change'){//点击分页
              window.location.href='../category/list?pageNo='+num;
            }
          }
	    });
    </script>
</body>
</html>