<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线商城 － 小牛电动</title>
    <link type="text/css" rel="stylesheet" href="font/iconfont.css">
    <link type="text/css" rel="stylesheet" href="font2/iconfont.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    
</head>
<body>
    <header id="header">
        <div class="logo"><a href="/index"><img src="images/logo.svg"></a></div>
        <nav id="nav" >
            <ul class="clearfix">
                <li><a href="#">小牛电动</a></li>
                <li><a href="#">商城</a></li>
                <li><a href="#">体验店</a></li>
                <li><a href="#">服务</a></li>
                <li><a href="#">新闻</a></li>
                <li><a href="#">品牌文化</a></li>
                <li><a href="#">关于我们</a></li>
            </ul>
        </nav>
        <div class="subnav">
            <i class="iconfont icon-user"></i> 
            <i class="iconfont icon-ht"></i> 
            <a href="#" class="cn"><img src="images/cn.svg"></a>
        </div>
    </header>
    <div id="banner">
        <img>
        <ul id="list">
            <!-- <li></li> -->
        </ul>
    </div>
    <main id="main">
        <div class="recommend clearfix">
            <ul>
                <li>
                    <img src="images/1.png" alt="智能服务">
                    <p>智能服务</p>
                </li>
                <li>
                    <img src="images/2.png" alt="NIU CARE">
                    <p>NIU CARE</p>
                </li>
                <li>
                    <img src="images/3.png" alt="牛油保">
                    <p>牛油保</p>
                </li>
                <li>
                    <img src="images/4.png" alt="文化周边">
                    <p>文化周边</p>
                </li>
            </ul>
        </div>
        <section>
            <div class="category clearfix">
            <h3>明星单品</h3>
                <a id="prev"><i class="iconfont icon-left"></i></a>
                <a id="next"><i class="iconfont icon-right"></i></a>
            <div class="wrap">
            <ul id="star" class="clearfix">
             <% for(var i = 0; i < list[0].productList.length; i++) {%>
                <li>
                    <a href="#"><img src="http://127.0.0.1:8088/<%=list[0].productList[i].picture%>"></a>
                    <h4><a href="#"><%=list[0].productList[i].name%></a></h4>
                    <p><a href="#"><%=list[0].productList[i].description%></a></p>
                    <span><a href="#"><%=list[0].productList[i].price%></a></span>
                </li>
                <%}%>
            </ul>
        </div>
            </div>
            <div class="bestSellers">
                <h3>新国标整车热卖</h3>
                <a href="#"><img src="images/9.jpg"></a>
            </div>
            <div class="category">
                <h3>热卖配件</h3>
                <a href="#" class="pic"><img src="images/10.jpg"></a>
                <a href="#" class="pic1"><img src="images/13.jpg"></a>
                <a href="#" class="pic"><img src="images/m1.jpg"></a>
                <a href="#" class="pic1"><img src="images/m2.jpg"></a>
                <ul class="clearfix">
                    <% for(var i = 0; i < list[2].productList.length; i++) {%>
                        <li>
                            <a href="#"><img src="http://127.0.0.1:8088/<%=list[2].productList[i].picture%>"></a>
                            <h4><a href="#"><%=list[2].productList[i].name%></a></h4>
                            <p><a href="#"><%=list[2].productList[i].description%></a></p>
                            <span><a href="#"><%=list[2].productList[i].price%></a></span>
                        </li>
                        
                <%}%>
            </ul>
            <a href="#" class="pic1"><img src="images/m3.jpg"></a>
            <a href="#" class="pic1"><img src="images/m4.jpg"></a>
            <a href="#" class="pic1"><img src="images/m5.jpg"></a>
            <a href="#" class="pic1"><img src="images/m6.jpg"></a>
        </div>
        <div class="category">
            <h3>文化周边</h3>
            <a href="#" class="pic"><img src="images/18.jpg"></a>
            <ul class="clearfix">
              <% for(var i = 0; i < list[3].productList.length; i++) {%>
                        <li>
                            <a href="#"><img src="http://127.0.0.1:8088/<%=list[3].productList[i].picture%>"></a>
                            <h4><a href="#"><%=list[3].productList[i].name%></a></h4>
                            <p><a href="#"><%=list[3].productList[i].description%></a></p>
                            <span><a href="#"><%=list[3].productList[i].price%></a></span>
                        </li>
                <%}%>
            </ul>
              <a href="#" class="pic1"><img src="images/m7.jpg"></a>  
        </div>
        </section>
        <div class="recommend service clearfix">
            <ul>
                <li>
                    <img src="images/6.png" alt="智能服务">
                    <p>售后政策</p>
                </li>
                <li>
                    <img src="images/7.png" alt="NIU CARE">
                    <p>票证补办</p>
                </li>
                <li>
                    <img src="images/8.png" alt="牛油保">
                    <p>联系我们</p>
                </li>
            </ul>
        </div>
       
    </main>
    <div id="top"><a href="#"><img src="images/top.png"></a></div>
    <footer id="footer">
        <div class="clearfix">
            <dl>
                <dt>了解产品</dt>
                <dd><a href="#">小牛电动 N-GT</a></dd>
                <dd><a href="#">小牛电动 M+</a></dd>
                <dd><a href="#">小牛电动 N1S</a></dd>
                <dd><a href="#">小牛电动 M1</a></dd>
                <dd><a href="#">小牛电动 U1</a></dd>
                <dd><a href="#">小牛电动 UM</a></dd>
                <dd><a href="#">小牛电动 U+</a></dd>
                <dd><a href="#">小牛电动 US</a></dd>
                <dd><a href="#">核心技术</a></dd>
                <dd><a href="#">配件</a></dd>
            </dl>
            <dl>
                <dt>服务与支持</dt>
                <dd><a href="#">查找网点</a></dd>
                <dd><a href="#">牛油保</a></dd>
                <dd><a href="#">NIU CARE</a></dd>
                <dd><a href="#">售后政策</a></dd>
                <dd><a href="#">NIU APP</a></dd>
            </dl>
            <dl>
                <dt>帮助中心</dt>
                <dd><a href="#">购买指南</a></dd>
                <dd><a href="#">支付方式</a></dd>
                <dd><a href="#">配送政策</a></dd>
                <dd><a href="#">申请加盟</a></dd>
                <dd><a href="#">产品防伪查询</a></dd>
            </dl>
            <dl>
                <dt>关于我们</dt>
                <dd><a href="#">公司简介</a></dd>
                <dd><a href="#">历史事记</a></dd>
                <dd><a href="#">斩获奖项</a></dd>
                <dd><a href="#">投资者关系</a></dd>
                <dd><a href="#">加入我们</a></dd>
                <dd><a href="#">联系我们</a></dd>
            </dl>
            <dl>
                <dt>媒体中心</dt>
                <dd><a href="#">新闻动态</a></dd>
                <dd><a href="#">图片资源</a></dd>
                <dd><a href="#">官方社区</a></dd>
            </dl>
            <dl>
                <dt>关注我们</dt>
                <dd><a href="#">微信公众号</a></dd>
                <dd><a href="#">新浪微博</a></dd>
            </dl>
            <dl>
                <dt>客服</dt>
                <dd><a href="#">400-6388-666</a></dd>
                <dd><a href="#">周一至周日 8:00-20:00</a></dd>
                <dd><a href="#">仅收市话费</a></dd>
                <dd><a href="#">售后由江苏小牛电动科技有限公司全权负责</a></dd>
            </dl>
        </div>
        <div class="copyright"><a href="#">© 2019 niu.com All rights reserved. 北京牛电科技有限责任公司 | 电话：010-6431 3690 | 地址：北京市朝阳区望京街10号方恒时代A座（联络大厦）11层 | 京ICP备15010724号-1</a></div>
    </footer>
    <script src="js/niu.js"></script>    
</body>
</html>